<audio controls="" controlslist="nodownload"><source src="./../audio/14.mp3" type="audio/mp3"> Your browser doesn't support audio teg!</audio><div id="exam-text" data-original={{sectionorg}}>
  <p><strong>SECTION {{section}}</strong>
       
      <strong>{{cut "QUESTIONS 11-20"}}</strong></p>
  <br>
  <p><strong>{{cut "Questions 11-14"}}</strong></p>
  
  <p>Answer the questions below. Choose the  correct letter, <strong>A</strong>, <strong>B</strong>, or <strong>C</strong>.</p>

<p><strong></strong> The fair will take place at the <span id="s1"></span>

</p><ol type="A"> 
     <li><input type="radio" data-qno="1" name="q1"> Fairgrounds.</li>
     <li><input type="radio" data-qno="1" name="q1" id="a1"> Park.</li>
     <li><input type="radio" data-qno="1" name="q1"> School.</li>
    </ol><p></p><br>
  
  
  <p><strong></strong> The fair will begin on Friday <span id="s2"></span>

</p><ol type="A"> 
     <li><input type="radio" data-qno="2" name="q2"> Morning.</li>
     <li><input type="radio" data-qno="2" name="q2"> Afternoon.</li>
     <li><input type="radio" data-qno="2" name="q2" id="a2"> Evening.</li>
    </ol><p></p><br>
    
    
    <p><strong></strong> The fair will begin with a <span id="s3"></span>

</p><ol type="A"> 
     <li><input type="radio" data-qno="3" name="q3"> Parade.</li>
     <li><input type="radio" data-qno="3" name="q3" id="a3"> Dance performance.</li>
     <li><input type="radio" data-qno="3" name="q3"> Speech by the major.</li>
    </ol><p></p><br>
    
     <p><strong></strong> There will be free admission on <span id="s4"></span>

</p><ol type="A"> 
     <li><input type="radio" data-qno="4" name="q4" id="a4"> Friday.</li>
     <li><input type="radio" data-qno="4" name="q4"> Saturday.</li>
     <li><input type="radio" data-qno="4" name="q4"> Sunday.</li>
     </ol><p></p><br>
     

    <p><strong>{{cut "Questions 15-20"}}</strong></p>
<p>Complete the chart below.</p>
<p>Write <strong>NO MORE THAN ONE WORD</strong> for each answer.</p>
<table border="1" width="85%" cellspacing="0" cellpadding="5" align="center">
<tbody><tr>
<td valign="top"><p>Day/Time</p></td>
<td valign="top"><p>Event<u></u></p></td>
</tr>
<tr>
<td valign="top"><p>Saturday afternoon</p>
<p>Saturday evening</p>      
<p>Sunday afternoon</p>
<p>All weekend</p>
</td>

<td valign="top">
<p><strong></strong> <input type="text" class="ex-input" data-qno="5" style="width:120px" id="ex6">
<span id="s6"></span> show</p>      

<p><strong></strong> <input type="text" class="ex-input" data-qno="6" style="width:120px" id="ex7">
<span id="s7"></span> by the lake</p>    

<p><strong></strong> <input type="text" class="ex-input" data-qno="7" style="width:120px" id="ex8">
<span id="s8"></span> contest</p>

<p><strong></strong> <input type="text" class="ex-input" data-qno="8" style="width:120px" id="ex9">
<span id="s9"></span> food</p>    

<p><strong></strong> <input type="text" class="ex-input" data-qno="9" style="width:120px" id="ex10">
<span id="s10"></span> for children</p>    

<p><strong></strong> <input type="text" class="ex-input" data-qno="10" style="width:120px" id="ex11">
<span id="s11"></span> for sale</p>
</td>
</tr>
</tbody></table>  



<br>
  
    </div>