<audio controls="" controlslist="nodownload">
  <source src="./../audio/16.mp3" type="audio/mp3"> Your browser doesn't support audio teg!</audio>
<div id="exam-text" data-original={{sectionorg}}>
  <p><strong>SECTION {{section}}</strong></p>
  <p><strong>{{cut "Qusetions 31-40"}}</strong></p>
  <p><strong>{{cut "Questions 31-35"}}</strong></p>
  <p>Complete the chart with information about the black bear.</p>
  <p>Write <strong>NO MORE THAN TWO WORDS AND OR A NUMBER</strong> for each answer.</p>


  <table border="1" cellspacing="0" cellpadding="3" width="80%" align="center">
    <tbody>
      <tr>
        <td style="padding-left:7px; padding-right:5px;" valign="top">
          <p>Range </p>
        </td>
        <td style="padding-left:7px; padding-right:5px;" valign="top">
          <p>Lives in <strong></strong> <input type="text" class="ex-input" style="width:120px" data-qno="1" id="ex1">
            <span id="s1"></span> of North America </p>
        </td>
      </tr>
      <tr>
        <td style="padding-left:7px; padding-right:5px;" valign="top">
          <p>Diet </p>
        </td>
        <td style="padding-left:7px; padding-right:5px;" valign="top">
          <p>Ninety percent of diet consists of <strong></strong> <input type="text" class="ex-input" style="width:120px"
              data-qno="2" id="ex2"> <span id="s2"></span>. Also eats <strong></strong> <input data-qno="3" type="text" class="ex-input"
              style="width:120px" data-qno="3" id="ex3">.<span id="s3"></span></p>
        </td>
      </tr>
      <tr>
        <td style="padding-left:7px; padding-right:5px;" valign="top">
          <p>Cubs </p>
        </td>
        <td style="padding-left:7px; padding-right:5px;" valign="top">
          <p>Baby bear cubs are born in <strong></strong>
            <input type="text" class="ex-input" style="width:120px" data-qno="4" id="ex4">. <span id="s4"></span></p>
        </td>
      </tr>
      <tr>
        <td style="padding-left:7px; padding-right:5px;" valign="top">
          <p>Life span </p>
        </td>
        <td style="padding-left:7px; padding-right:5px;" valign="top">
          <p>Black bears live for about <strong></strong>
            <input type="text" class="ex-input" style="width:125px" data-qno="5" id="ex5"> in the wild. <span id="s5"></span></p>
        </td>
      </tr>
    </tbody>
  </table><br><br>


  <p><strong>{{cut "Questions 36-40"}}</strong></p>
  <p>Which characteristics fit black bears and which fit grizzly bears? </p>
  <p>Write <strong>A</strong> if it is a characteristic оf black bears. Write <strong>В</strong> if it is a
    characteristic of
    grizzly bears.</p>
  <br>
  <p><strong></strong> Has a patch of light fur on its chest
    <input type="text" class="ex-input" style="width:30px" data-qno="6" id="ex6">
    <span id="s6"></span></p>
  <p><strong></strong> Weighs 225 kilos
    <input type="text" class="ex-input" style="width:30px" data-qno="7" id="ex7">
    <span id="s7"></span></p>
  <p><strong></strong> Has a shoulder hump <input type="text" class="ex-input" style="width:30px" data-qno="8" id="ex8"><span
      id="s8"></span>
  </p>
  <p><strong></strong> Has pointed ears&nbsp;<strong>
      <input type="text" class="ex-input" style="width:30px" data-qno="9" id="ex9"></strong> <span id="s9"></span> </p>
  <p><strong></strong> Has shorter claws
    <input type="text" class="ex-input" style="width:30px" data-qno="10" id="ex10">
    <span id="s10"></span></p>
  <br>
  <br>
</div>