<audio controls="" controlslist="nodownload"><source src="./../audio/34.mp3" type="audio/mp3"> Your browser doesn't support audio teg!</audio>
<div id="exam-text" data-original={{sectionorg}}>
 <p><strong>SECTION {{section}}</strong></p>
  <p><strong>{{ cut "QUESTIONS 11-20"}}</strong></p>

  <p>&nbsp;</p>
  <p><strong>{{ cut "Questions 11-15"}}</strong></p>
  <p>Label the map below. </p>
  <p>Write the correct letter, <strong>A-E</strong>, next to questions <strong>11-15</strong>.</p>
  <p>&nbsp;</p>

  <p><img src="/images/9.2.png" width="80%" /></p>
  <p><strong></strong>Science Museum
    <input type="text" class="ex-input" data-qno="1"style="width:40px" id="ex1" required="required" /> <span id="s1"> </span>
  </p>
  <p><strong></strong>National History Museum
    <input type="text" class="ex-input" data-qno="2" style="width:40px" id="ex2" required="required" /> <span id="s2"> </span></p>
  <p><strong></strong>Car Park
    <input type="text" class="ex-input" data-qno="3" style="width:40px" id="ex3" required="required" />
    <span id="s3"> </span> </p>
  <p><strong></strong>Shopping Mall
    <input type="text" class="ex-input" data-qno="4" style="width:40px" id="ex4" required="required" />
    <span id="s4"> </span> </p>
  <p><strong></strong>Primary School
    <input type="text" class="ex-input" data-qno="5" style="width:40px" id="ex5" required="required" />
    <span id="s5"> </span> </p>
  <p>&nbsp;</p>
  <p><strong>{{cut "Questions 16-20"}}</strong></p>
  <p>What is the improvement of each main point of interest in the area? </p>
  <p>Choose <strong>FIVE</strong> answers from the box and write the correct letter, <strong>A-G</strong>, next
    to questions <strong>16-20.</strong></p>
  <div style="border:1px solid black; padding:10px; width:30%;">
    <p><strong>A </strong>New entrance</p>
    <p><strong>B </strong>Free lunch provided</p>
    <p><strong>C </strong>Free information provided</p>
    <p><strong>D </strong>Increase in size</p>
    <p><strong>E </strong>Additional signs</p>
    <p> <strong>F </strong>New exhibitions</p>
    <p><strong>G </strong>New structure</p>
  </div><br />
  <p><strong></strong>Car Park
    <input type="text" class="ex-input" data-qno="6" style="width:40px" id="ex6" required="required" />
    <span id="s6"> </span> </p>
  <p><strong></strong>Primary School
    <input type="text" class="ex-input" data-qno="7" style="width:40px" id="ex7" required="required" />
    <span id="s7"> </span></p>
  <p><strong></strong>Science Museum
    <input type="text" class="ex-input" data-qno="8" style="width:40px" id="ex8" required="required" />
    <span id="s8"> </span> </p>
  <p><strong></strong>National History Museum
    <input type="text" class="ex-input" data-qno="9" style="width:40px" id="ex9" required="required" />
    <span id="s9"> </span> </p>
  <p><strong></strong>Shopping Mall

    <input type="text" class="ex-input" data-qno="10" style="width:40px" id="ex10" required="required" />
    <span id="s10"> </span> </p>
  <p><br />
  </p>
  <div id="result" align="center"> </div>
</div>
  
