<audio controls="" controlslist="nodownload"><source src="./../audio/42.mp3" type="audio/mp3"> Your browser doesn't support audio teg!</audio><div id="exam-text" data-original={{sectionorg}}>
  <p><strong>SECTION {{section}}</strong></p> 
  <p><strong>{{cut "QUESTIONS 11-20"}}</strong></p>
  <br>
  <p><strong>{{cut "Questions 11-14"}}</strong></p>
  
  <p>Answer the questions below. Choose the  correct letter, <strong>A</strong>, <strong>B</strong>, or <strong>C</strong>.</p>

<p><strong></strong> What is the project that Mark and Gina want to start? <span id="s1"></span>

</p><ol type="A"> 
     <li><input type="radio" data-qno="1" name="q1"> Business school requirements.</li>
     <li><input type="radio" data-qno="1" name="q1"> Directions to the business school.</li>
     <li><input type="radio" data-qno="1" name="q1" id="a1"> Explaining the business school experience.</li>
    </ol><p></p><br>
  
  
  <p><strong></strong> Who is the target audience? <span id="s2"></span>

</p><ol type="A"> 
     <li><input type="radio" data-qno="2" name="q2"> Business students.</li>
     <li><input type="radio" data-qno="2" name="q2" id="a2"> Business school applicants.</li>
     <li><input type="radio" data-qno="2" name="q2"> 
     Summer school attendees.</li>
    </ol><p></p><br>
    
    
    <p><strong></strong> How will they convey the information? <span id="s3"></span>

</p><ol type="A">
     <li><input type="radio" data-qno="3" name="q3"> Summer course lecture.</li>
     <li><input type="radio" data-qno="3" name="q3"> Informational video.</li>
     <li><input type="radio" data-qno="3"  name="q3"> Pamphlet in the mail.</li>
    </ol><p></p><br>
    
     <p><strong></strong> They want to do this project because <span id="s4"></span>

</p><ol type="A"> 
     <li><input type="radio" data-qno="4" name="q4" id="a4"> students worry about their studies.</li>
     <li><input type="radio" data-qno="4" name="q4"> they want to obtain a good grade.</li>
     <li><input type="radio" data-qno="4" name="q4"> they want to attract future business school applicants.</li>
     </ol><p></p><br>
     

    <p><strong>{{cut "Questions 15-20"}}</strong></p>
<p>Complete the table below.</p>
<p>Write <strong>NO MORE THAN TWO WORDS</strong> for each answer.</p>
<table border="1" width="72%" cellspacing="0" cellpadding="5" align="center">
<tbody><tr>
<td width="49%" valign="top"><p align="center"><strong>Topic</strong></p></td>
<td width="51%" valign="top"><p align="center"><strong>Time</strong></p></td>
</tr>
<tr>
<td valign="top"><p>Academics</p>
<p>- <strong></strong>
<input type="text" class="ex-input" style="width:140px" data-qno="5" id="ex6">
<span id="s6"></span></p></td>

<td valign="top" style="vertical-align:middle;">
<p align="center">7 minutes</p>
</td>
</tr>
<tr>
<td valign="middle"><p><strong></strong>
<input type="text" class="ex-input" style="width:120px" data-qno="6" id="ex7">
<span id="s7"></span></p>
<p> - cafeteria</p>
<p>- <strong></strong>
<input type="text" class="ex-input" style="width:120px" data-qno="7" id="ex8">
<span id="s8"></span></p></td>
<td valign="middle">
<p align="center">6 minutes</p></td>
</tr>
<tr>
<td valign="top"><p>Social activity</p>
<p>-<strong></strong>
<input type="text" class="ex-input" style="width:120px" data-qno="8" id="ex9">
<span id="s9"></span></p>
<p>- <strong></strong>
<input type="text" class="ex-input" style="width:155px" data-qno="9" id="ex10">
<span id="s10"></span></p></td>
<td valign="middle">
<p align="center">8 minutes</p></td>
</tr>
<tr>
<td valign="top"><p>Conclusion</p></td>
<td valign="top"><p></p><div align="center">nearly <strong></strong>
<input type="text" class="ex-input" style="width:120px" data-qno="10" id="ex11">
<span id="s11"></span></div><p></p></td>
</tr>
</tbody></table>  
<br>
</div>