<audio controls="" controlslist="nodownload">
  <source src="./../audio/44.mp3" type="audio/mp3"> Your browser doesn't support audio teg!</audio>
<div id="exam-text" data-original={{sectionorg}}>
  <p><strong>SECTION {{section}}</strong></p>
  <p><strong>{{cut "QUESTIONS 31-40"}}</strong></p>
  <br>
  <p><strong>{{cut "Questions 31-35"}}</strong> </p>
  <p>Choose the correct letter, <strong>A</strong>, <strong>B</strong>, or <strong>C</strong>. </p>
  <p><strong></strong> Why did the lecturer choose to focus on the Pleasanton Town Market? <span id="s1"></span></p>
  <ol type="A">
    <li> <input type="radio" data-qno="1" name="q1"> It was the first ever Town Market.</li>
    <li> <input type="radio" data-qno="1" name="q1"> It has been covered extensively in local history classes.</li>
    <li> <input type="radio" data-qno="1" name="q1" id="a1"> It is often mentioned in some literature of the library.</li>
  </ol><br>
  <p><strong></strong> The Town Market originally made a large profit selling <span id="s2"></span></p>
  <ol type="A">
    <li> <input type="radio" data-qno="2" name="q2"> handcrafts.</li>
    <li> <input type="radio" data-qno="2" name="q2"> vegetables.</li>
    <li> <input type="radio" data-qno="2" name="q2" id="a2"> animals.</li>
  </ol><br>
  <p><strong></strong> The money that the marketers made contributes to local <span id="s3"></span></p>
  <ol type="A">
    <li> <input type="radio" data-qno="3" name="q3"> reconstruction.</li>
    <li> <input type="radio" data-qno="3" name="q3" id="a3"> development.</li>
    <li> <input type="radio" data-qno="3" name="q3"> defense.</li>
  </ol><br>
  <p><strong></strong> Market sales plummeted due to lack of viable <span id="s4"></span></p>
  <ol type="A">
    <li> <input type="radio" data-qno="4" name="q4"> agriculture.</li>
    <li> <input type="radio" data-qno="4" name="q4" id="a4"> transport.</li>
    <li> <input type="radio" data-qno="4" name="q4"> city planning.</li>
  </ol><br>
  <p><strong></strong> Major John C. Wiley decided the Clock tower would be used as a ____________ in the early stages
    of the uprising. <span id="s5"></span></p>
  <ol type="A">
    <li> <input type="radio" data-qno="5" name="q5"> clock</li>
    <li> <input type="radio" data-qno="5" name="q5"> grounds for battle</li>
    <li> <input type="radio" data-qno="5" name="q5" id="a5"> jail</li>
  </ol><br>
  <br><br>
  <p><strong>{{cut "Questions 36-40"}}</strong> </p>
  <p>Complete the table below. </p>
  <p>Write <strong>ONLY ONE WORD</strong> for each answer. </p>
  <p>&nbsp;</p>
  <table border="1" cellspacing="0" cellpadding="5">
    <tbody>
      <tr>
        <td width="270" valign="top">
          <p align="center"><strong>Research Methods</strong></p>
        </td>
        <td width="270" valign="top">
          <p align="center"><strong>Objects</strong></p>
        </td>
        <td width="342" valign="top">
          <p align="center"><strong>Problems</strong></p>
        </td>
      </tr>
      <tr>
        <td width="270" valign="top">
          <p>reference section</p>
        </td>
        <td width="270" valign="top">
          <p><strong></strong>.
            <input type="text" class="ex-input" style="width:150px" data-qno="6" id="ex6">
            <span id="s6"></span> </p>
        </td>
        <td width="342" valign="top">
          <p>there is too much information</p>
        </td>
      </tr>
      <tr>
        <td width="270" valign="top">
          <p><strong></strong>.
            <input type="text" class="ex-input" style="width:150px" data-qno="7" id="ex7">
            <span id="s7"></span></p>
        </td>
        <td width="270" valign="top">
          <p>Rebellion</p>
        </td>
        <td width="342" valign="top">
          <p>bias makes it <strong></strong>.
            <input type="text" class="ex-input" style="width:150px" data-qno="8" id="ex8">
            <span id="s8"></span></p>
        </td>
      </tr>
      <tr>
        <td width="270" valign="top">
          <p><strong></strong>.
            <input type="text" class="ex-input" style="width:150px" data-qno="9" id="ex9">
            <span id="s9"></span></p>
        </td>
        <td width="270" valign="top">
          <p>Jim Wiley</p>
        </td>
        <td width="342" valign="top">
          <p>the information is insufficient</p>
        </td>
      </tr>
      <tr>
        <td width="270" valign="top">
          <p>newspaper archives</p>
        </td>
        <td width="270" valign="top">
          <p><strong></strong>.
            <input type="text" class="ex-input" style="width:150px" data-qno="10" id="ex10"> <span id="s10"></span>
          </p>
        </td>
        <td width="342" valign="top">
          <p>more detail is needed</p>
        </td>
      </tr>
    </tbody>
  </table>

  <br>
  <br>

  <div id="result" align="center"> </div>

  <button id="b2" type="button" onclick="toggle()">
    <img height="25px" src="/images/show.png" style="vertical-align: middle">Show answers</button>

  
</div>