<audio controls="" controlslist="nodownload"><source src="./../audio/50.mp3" type="audio/mp3"> Your browser doesn't support audio teg!</audio><div id="exam-text" data-original={{sectionorg}}>
  <p><strong>SECTION {{section}}</strong></p>
  <p>{{cut "QUESTIONS 11-20"}}</strong></p>
  <br>
  <p><strong>{{cut "Questions 11-14"}}</strong></p>
  
  <p>Answer the questions below. Choose the  correct letter, <strong>A</strong>, <strong>B</strong>, or <strong>C</strong>.</p>
  <p align="center"><strong>Online Exchange Business</strong></p>

<p><strong></strong> The website is organised by <span id="s1"></span>

</p><ol type="A"> 
     <li><input type="radio" data-qno="1" name="q1"> family memebrs.</li>
     <li><input type="radio" data-qno="1" name="q1" id="a1"> friends.</li>
     <li><input type="radio" data-qno="1" name="q1"> businessmen.</li>
    </ol><p></p><br>
  
  
  <p><strong></strong> How long has the website been operated? <span id="s2"></span>

</p><ol type="A"> 
     <li><input type="radio" data-qno="2" name="q2"> about 3 weeks. </li>
     <li><input type="radio" data-qno="2" name="q2"> about 3 months. </li>
     <li><input type="radio" data-qno="2" name="q2" id="a2"> about 6 months. </li>
    </ol><p></p><br>
    
    
    <p><strong></strong> How many registered users are there in the website? <span id="s3"></span>

</p><ol type="A"> 
     <li><input type="radio" data-qno="3" name="q3"> 1000.</li>
     <li><input type="radio" data-qno="3" name="q3" id="a3"> 1500.</li>
     <li><input type="radio" data-qno="3" name="q3"> 2000.</li>
    </ol><p></p><br>
    
     <p><strong></strong> Which country has the most users in the website? <span id="s4"></span>

</p><ol type="A"> 
     <li><input type="radio" data-qno="4" name="q4" id="a4"> Ireland.</li>
     <li><input type="radio" data-qno="4" name="q4"> UK.</li>
     <li><input type="radio" data-qno="4" name="q4"> Canada.</li>
     </ol><p></p><br>
     
     
     <p><strong>{{cut "Questions 15-16"}}</strong></p>
    <p>Choose <strong>TWO </strong>letters, <strong>A-E</strong></p>
    <p>Which <strong>TWO </strong>things are most popular among users?</p>
    <div>
    <ol data-weight="2">
    <p>
      <input type="checkbox" id="ch8" value="1">
      <strong>A</strong> Children's books. <span id="s8"> </span></p>
    <p>
      <input type="checkbox" id="ch9">
      <strong>ะ</strong> Textbooks. <span id="s9"> </span></p>
    <p>
      <input type="checkbox" id="ch10" value="1">
      <strong>ะก</strong> Computer games. <span id="s10"> </span></p>
    <p>
      <input type="checkbox" id="ch11">
      <strong>D</strong> Toys. <span id="s11"> </span></p>
    <p>
      <input type="checkbox" id="ch12">
      <strong>E</strong> Tools. <span id="s12"> </span></p>
    <p>&nbsp;</p>
    <p></p>
    </ol>
    </div>
     

    <p><strong>{{cut "Questions 17-20"}}</strong></p>
<p>Complete the sentences below.</p>
<p>Write <strong>ONE WORD ONLY</strong> for each answer.</p>
<table border="1" width="85%" cellspacing="0" cellpadding="5" align="center">
<tbody><tr>
<td colspan="2" valign="middle"><p><strong> </strong>The website will sort out
<input type="text" class="ex-input" style="width:120px" data-qno="7" id="ex13">
items to help those who can't decide what to exchange. <span id="s13"></span>
</p>
<p><strong> </strong>Do not bother because everyone's  
<input type="text" class="ex-input" style="width:120px" data-qno="8" id="ex14">
is different.  <span id="s14"></span></p>
<p><strong></strong> Users will give
<input type="text" class="ex-input" style="width:155px" data-qno="9" id="ex15">
on the completion of exchanges. <span id="s15"></span></p>
<p>&nbsp; </p>
<p><strong>Criteria</strong></p>
<ul>
<li>the quality of the item      </li>
</ul>
<ul>
<li>the ease of communication</li>
</ul>
<ul>
<li>the <strong></strong>
  <input type="text" class="ex-input" style="width:120px" data-qno="10" id="ex16">
  of delivering <span id="s16"></span><p></p>
</li>
</ul></td>
</tr>
</tbody></table>  



<br>
  
    </div>