<audio controls="" controlslist="nodownload"><source src="./../audio/54.mp3" type="audio/mp3"> Your browser doesn't support audio teg!</audio><div id="exam-text" data-original={{sectionorg}}>
  <p><strong>SECTION {{section}}</strong></p>
  <p><strong>{{cut "QUESTIONS 11-20"}}</strong></p>
  <br>
  <p><strong>{{cut "Questions 11-15"}}</strong></p>
  
  <p>Answer the questions below. Choose the  correct letter, <strong>A</strong>, <strong>B</strong>, or <strong>C</strong>.</p>

<p><strong></strong> How many patients does the hospital consult every year? <span id="s1"></span>

</p><ol type="A"> 
     <li><input type="radio" data-qno="1" name="q1"> 3,000.</li>
     <li><input type="radio" data-qno="1" name="q1"> 5,000.</li>
     <li><input type="radio" data-qno="1" name="q1" id="a1"> 11,000.</li>
    </ol><p></p><br>
  
  
  <p><strong></strong> When can patients meet the female doctor? <span id="s2"></span>

</p><ol type="A"> 
     <li><input type="radio" data-qno="2" name="q2" id="a2"> On weekday mornings.</li>
     <li><input type="radio" data-qno="2" name="q2"> Three days a week.</li>
     <li><input type="radio" data-qno="2" name="q2"> Only on Mondays and Fridays.</li>
    </ol><p></p><br>
    
    
    <p><strong></strong> Who is the expert on treating hearing loss? <span id="s3"></span>

</p><ol type="A"> 
     <li><input type="radio" data-qno="3" name="q3"> Mr. Roberts.</li>
     <li><input type="radio" data-qno="3" name="q3" id="a3"> Mr Green.</li>
     <li><input type="radio" data-qno="3" name="q3"> Mr. Edwards.</li>
    </ol><p></p><br>
    
     <p><strong></strong> Where are patients recommended to buy their medicine? <span id="s4"></span>

</p><ol type="A"> 
     <li><input type="radio" data-qno="4" name="q4"> The supermarket in the town.</li>
     <li><input type="radio" data-qno="4" name="q4"> Pharmacies nearby the city centre.</li>
     <li><input type="radio" data-qno="4" name="q4" id="a4"> The health care's pharmacy.</li>
     </ol><p></p><br>
     
     <p><strong></strong> What will the patients be asked about whether they are willing to do? <span id="s5"></span>

</p><ol type="A"> 
     <li><input type="radio" data-qno="5" name="q5" id="a5"> Letting one student attend the consultation.</li>
     <li><input type="radio" data-qno="5" name="q5"> Asking postgraduate students to do treatment.</li>
     <li><input type="radio" data-qno="5" name="q5"> Meeting students in group discussion.</li>
    </ol><p></p><br>
     

    <p><strong>{{cut "Questions 16-20"}}</strong></p>
<p>Label the map below.</p>
<p>Write the correct letter, <strong>A-H</strong>, next to questions 16-20.</p>
<p><img src="http://ielts-up.com/images/listening14.2.png" width="100%"></p>
<p><strong></strong> Reception
<input type="text" class="ex-input" style="width:30px" data-qno="6" id="ex7"> <span id="s7"></span>
</p>
<p><strong></strong> Mr. Green's room
<input type="text" class="ex-input" style="width:30px" data-qno="7" id="ex8">
<span id="s8"></span></p>
<p><strong></strong> Medical Records Office
<input type="text" class="ex-input" style="width:30px" data-qno="8" id="ex9">
<span id="s9"></span></p>
<p><strong></strong> Surgery Room
<input type="text" class="ex-input" style="width:30px" data-qno="9" id="ex10"> <span id="s10"></span>
</p>
<p><strong></strong> Manager's Office
<input type="text" class="ex-input" style="width:30px" data-qno="10" id="ex11">
<span id="s11"></span></p>
<br>
</div>