<audio controls="" controlslist="nodownload"><source src="./../audio/6.mp3" type="audio/mp3"> Your browser doesn't support audio teg!</audio><div id="exam-text" data-original={{sectionorg}} >
  <p><strong>SECTION {{section}}</strong><strong>{{cut "QUESTIONS 11-20"}}</strong>            </p>
  <p><strong>{{cut "Questions 11-15"}}</strong></p>
  
  <p>What change has been made to each part оf the health club?</p>
  <p> Write the correct letter, <strong>A</strong>-<strong>F</strong> next to questions <strong>11</strong>—<strong>15</strong>.          </p>
  <table border="1" cellspacing="0" cellpadding="5">
    <tbody><tr>
      <td width="328" valign="top"><p>HARTFORD HEALTH CLUB<br>
        
        </p><p><strong>A</strong> installed a new floor&nbsp;</p>
        <p><strong>В</strong> repainted</p>
        <p><strong>С</strong> moved to a new location</p>
        <p><strong>D</strong> rebuilt</p>
        <p><strong>E</strong> enlarged</p>
        <p><strong>F</strong> replaced the    equipment</p><p></p></td>
      <td width="329" valign="top"><p>Part of the health club</p>
        <p><strong></strong> swimming pools 
        <input type="text" data-qno="1" class="ex-input" style="width:40px" id="ex1" required=""> <span id="s1"></span></p>
        <p><strong></strong> locker rooms 
          <input type="text" data-qno="2" class="ex-input" style="width:40px" id="ex2" required=""> <span id="s2"></span></p>
         <p><strong></strong>exercise room <input type="text" data-qno="3" class="ex-input" style="width:40px" id="ex3" required=""><span id="s3"></span></p>
          <p><strong></strong> tennis court <input type="text" data-qno="4" class="ex-input" style="width:40px" id="ex4" required=""> <span id="s4"></span></p>
          <p><strong></strong> club store 
          <input type="text" class="ex-input" data-qno="5" style="width:40px" id="ex5" required=""> <span id="s5"></span></p></td>
    </tr>
  </tbody></table>

<p><strong>{{cut "Questions 16-18"}}</strong></p>
<p>Complete the sentences below.</p>
<p>Write <strong>NO  MORE THAN TWO WORDS</strong> for each answer.</p>
<p><strong></strong> Tomorrow, <strong><input type="text" data-qno="6" class="ex-input" style="width:200px" id="ex6" required=""></strong> <span id="s6"></span> for adults and children will  start.</p>
<p><strong></strong> On Wednesday, there  will be a <strong><input type="text" data-qno="7" class="ex-input" style="width:200px" id="ex7" required=""></strong> <span id="s7"></span>.</p>
<p><strong></strong> A <strong><input type="text" class="ex-input" data-qno="8" style="width:200px" id="ex8" required=""></strong> <span id="s8"></span> is planned for next  weekend.</p>

<p>&nbsp;</p>
<p><strong>{{cut "Questions 19 and 20"}}</strong></p>
<p>Answer the questions below. Choose the  correct letter, <strong>A</strong>, <strong>B</strong>, or <strong>C</strong>.<strong></strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong></strong> How many months did  it take to complete the renovation work? <span id="s9"></span></p>

<ol type="A"> 
     <li><input type="radio" data-qno="9" name="q9"> Three.</li>
     <li><input type="radio" data-qno="9" name="q9" id="a9"> Nine.</li>
     <li><input type="radio" data-qno="9" name="q9"> Twelve.</li>
    </ol><p></p>

<p>&nbsp;</p>
<p><strong></strong> What project is  planned for next year? <span id="s10"></span></p>
<ol type="A"> 
     <li><input type="radio" data-qno="10" name="q10"> An indoor pool.</li>
     <li><input type="radio" data-qno="10" name="q10"> An outdoor tennis court.</li>
     <li><input type="radio" data-qno="10" name="q10" id="a10"> An outdoor pool.</li>
    </ol><p></p>
<br>
<p></p>
  
    </div>
    
    